#bss-loyalty-popup {
    font-family: 'Avenir Next', sans-serif;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 10px;
    width: 220px;
    height: 47px;
    text-align: center;
    font-size: 12px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    color: white;
    font-weight: bold;
    box-shadow: black 5px 5px 0;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200% auto;
    padding: 0 10px;
    z-index: 100;
}
#bss-loyalty-popup:hover {
    background-position: right center; /* change the direction of the change here */
}
#loyalty-product-form {
    font-family: 'Avenir Next', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    box-shadow: black 5px 5px 5px;
    z-index: 100;
    box-sizing: border-box;
    padding: 0 10px 10px;
    background: white;
    border-radius: 5px;
}


#loyalty-product-form .loyalty-form-group-title {
    font-weight: 600;
    margin: 5px 0;
}
#loyalty-product-form input[type=text],
#loyalty-product-form input[type=number],
#loyalty-product-form select
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#loyalty-product-form input.text-field-md-6 {
    width: 49%;
    float: left;
    box-sizing: border-box;
}
#loyalty-product-form input#loyalty-billing-line-address,
#loyalty-product-form input#loyalty-shipping-line-address {
    margin-right: 2%;
}
#loyalty-product-form .selected-price-currency {
    font-weight: bold;
    color: black;
    font-size: 1rem;
}
#loyalty-product-form-header {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    text-align: center;
    color: white;
    background-size: 200% auto;
    box-shadow: whitesmoke 5px 5px 5px;
    border-radius: 5px;
}
#loyalty-product-form-header h5 {
    padding: 5px 0;
}
#loyalty-product-form-footer {
    display: flex;
    justify-content: center;
}
.loyalty-btn:hover {
    background-position: right center; /* change the direction of the change here */
}
.loyalty-btn {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    color: white;
    padding: 10px 0;
    /*text-transform: uppercase;*/
    border-radius: 5px;
    box-shadow: whitesmoke 5px 5px 5px;
    width: 49%;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200% auto;
}
#loyalty-popup-qr-code img {
    margin: 5px auto;
}
#loyalty-popup-qr-confirmbtn,
#loyalty-popup-phantom-confirmbtn,
#loyalty-close-button
{
    margin: 10px auto;

}
.loyalty-btn:first-child {
    margin-right: 2%;
}
#loyalty-product-form-footer
{
 margin-top: 20px;
}
.loyalty-qr-message {
    background-color: aliceblue;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.loyalty-btn.loading {
    display: flex;
    justify-content: center;
}
/* Payment Methods */
#product-form-payment-method #loyalty-form-wallet {
    display: flex;
}
#product-form-payment-method #loyalty-form-wallet > div img {
    opacity: 0.7;
}
#product-form-payment-method #loyalty-form-wallet > div:hover {
    cursor: pointer;
}
#product-form-payment-method #loyalty-form-wallet > div:first-child {
    margin-right: 10px;
}
#product-form-payment-method .selected-method img {
    border: 1px solid #fda085;
    padding: 1px;
    opacity: 1;
    border-radius: 2px;
}

/*Wallet connecting*/
#loyalty-popup-connecting {
    text-align: center;
}
.loyalty-popup-connecting-images {
    display: flex;
    justify-content: center;
    align-items: center;
}
#loyalty-popup-payment-message {
    display: flex;
    justify-content: space-between;
}
#loyalty-form-err {
    padding: 2px 10px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    box-shadow: whitesmoke 5px 5px 5px;
}

.loyalty-wallet-phantom-status {
    text-align: center;
    color: #3fa46a;
    margin: 10px 0;
}